<div class="container">
  <div class="header-section">
    <h1>Bingo Game</h1>
  </div>

  <!-- New: Reconnect Button -->
  <div *ngIf="reconnectGameId" class="reconnect-game-section">
    <p>You have an active game. Would you like to reconnect?</p>
    <button (click)="onReconnect()" class="reconnect-button">Reconnect to Game</button>
  </div>

  <div class="message-area">
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>

  <div class="game-overview-section">
    <div class="game-section">
      <h2>Game Setup</h2>
      <div class="selection-info">
        Selected Cards: {{ selectedCards.length }} / 24
        <button (click)="selectRandomCards()">Random</button>
        <button [disabled]="!canStartGame" (click)="startGame()">Start Game</button>
      </div>
    </div>

    <!-- Available Games Section -->
    <div class="available-games-section">
      <h2>Games List</h2>
      <div *ngIf="waitingGames.length === 0; else gamesList">
        <p>No games at the moment... But you can create one!</p>
      </div>
      <ng-template #gamesList>
        <ul>
          <li *ngFor="let game of waitingGames" (click)="joinAvailableGame(game.id)" class="waiting-game-item">
            Game by {{ game.createdByUsername }} - Click to Join
          </li>
        </ul>
      </ng-template>
    </div>
  </div>

    <div *ngIf="canCreate" class="create-card-form">
    <input type="text" [(ngModel)]="newCardPhrase" placeholder="Enter a phrase">
    <button (click)="createBingoCard()">Create Card</button>
  </div>

  <div class="card-list">
          <div
            *ngFor="let card of bingoCards"
            class="card"
            [class.selected]="isCardSelected(card)"
            (click)="toggleCardSelection(card)"
            (mouseenter)="onMouseEnter(card.id!)"
            (mouseleave)="onMouseLeave()">              <ng-container *ngIf="editingCardId === card.id">
                          <div class="card-edit-input-wrapper">
                            <input type="text" [(ngModel)]="editedCardPhrase" (click)="$event.stopPropagation()" class="edit-input">
                          </div>
                          <div class="button-group">
                            <button class="crud-button update-button" (click)="updateBingoCard(card); $event.stopPropagation()">&#10003;</button>
                            <button class="crud-button cancel-button" (click)="cancelEdit(); $event.stopPropagation()">&#10006;</button>
                          </div>              </ng-container>
              <ng-container *ngIf="!editingCardId || editingCardId !== card.id">
                <span>{{ card.phrase }}</span>
                <div class="button-group">
                            <button *ngIf="canEdit && hoveredCardId === card.id" class="crud-button edit-button" (click)="editBingoCard(card); $event.stopPropagation()">&#9998;</button>
                            <button *ngIf="canDelete && hoveredCardId === card.id" class="crud-button delete-button" (click)="deleteBingoCard(card.id); $event.stopPropagation()">&#128465;</button>                </div>
              </ng-container>    </div>
  </div>
</div>
